  /* styles for alkima-amp site start here */
  body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 576px) {
    .wrapper {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .wrapper {
      max-width: 720px;
    }
  }
  
  p {
    line-height: 1.75;
  }

  a {
    color: #ff682f;
    text-decoration: none;
  }

  a:hover {
    color: #fb4500;
  }

  .text-primary {
    color: #ff682f;
  }

  .text-uppercase{
    text-transform: uppercase;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  section {
    padding: 100px 0;
  }

  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btn:hover, .btn:focus {
    text-decoration: none;
  }

  .btn:focus, .btn.focus {
    outline: 0;
  }

  .btn.disabled, .btn:disabled {
    opacity: 0.65;
  }

  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none;
  }

  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }

  .btn-primary {
    color: #fff;
  }

  .btn-primary:hover {
    color: #fff;
  }

  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
  }

  .btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .btn-xl {
    font-size: 18px;
    padding: 20px 40px;
  }

  .btn-primary {
    background-color: #ff682f;
  }

  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {  
    color: white;
  }

  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5);
  }

  ::-moz-selection {
    background: #ff682f;
    text-shadow: none;
  }

  ::selection {
    background: #ff682f;
    text-shadow: none;
  }

  img::selection {
    background: transparent;
  }

  img::-moz-selection {
    background: transparent;
  }

  #zxc {
      color: saddlebrown;
  }

  /* STYLES GOES HERE */
  /* main nav button  */
  #mainNav {
    font-size: 12px;
    top: 16%;
    padding: 13px;
    color: #fff;
    border: 0;
    background-color: #e63644;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    border-radius: 3px;
    position: absolute;
  }

  @media screen and (orientation: landscape) {
    #mainNav  {
      top: 28%;
    }
  }

  .inline-block{
    display: inline-block;
  }

  .navbarBrand {
    height: 60px;
    padding: 15px;
    width: auto;
  }

  .mainNavigation{
    background-color: #212529;
    padding: 5%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .logoWrap{
    display: block;
    margin: 0 auto;
  }

  .items-start{
    text-align: left;
    margin: 15px;
    font-size: 25px;
    color: white;
  }
  #sidebar-left{
    background-color: #212529;
  }

  #sidebar-left nav ul>li{
    list-style-type: none;
    margin: 0 auto;
  }

  .menuList{
    text-align: left;
    line-height: 2em;
    margin-left: -15px;
    margin-right: 15px;
  }

  .menuList > li a{
    color: white;
  }

  .menuList > li a:hover{
    color: #e63644;
  }

  .menuList :last-child{
    text-align: left;
    line-height: 2em;
    margin-left: -15px;
    margin-right: 15px;
  }


  /* search form */
  form {
    padding: 0;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }
  input[type=submit] {
    position:absolute;
    top:10px; right:8px;
    background-color: #e63644;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -webkit-image-set(url('/img/ic_search_white_1x_web_24dp.png') 1x);
    border: 0 none;
    height: 32px;
    width: 36px;
    -webkit-appearance: none;
    border-radius: 0;
    -moz-border-top-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  input[type=search], input[type=text] {
    position: absolute;
    top: 10px;
    right: 24px;
    background: #ededed ;
    padding: 0 8px;
    width: 20vw;
    height: 32px;
    font-family: inherit;
    font-size: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: solid 0px #ccc;
    border-radius: 0;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    transition: all .9s ease;
  }
  input[type=search]:focus, input[type=text]:focus {
    box-sizing: border-box;
    width: 80vw;
    max-width: 700px;
    height: 32px;
    background-color: #fff;
    border-color: #e63644;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    outline:none;
  }
  input:-moz-placeholder,
  input::-webkit-input-placeholder {
    color: #999;
  }

.productCont{
  padding-top: 55px;
}

.product-name h1{
  text-align: center;
  font-size: 20px;
}

amp-social-share.custom-style {
  background-color: #008080;
  background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/social/1x_web/ic_share_white_48dp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

amp-social-share.rounded {
  border-radius: 50%;
  background-size: 60%;
}

.socialBtns{
  text-align:center;
}